<div class="input-group" style="margin-top: -9px;">
    <div class="well container" style="position: fixed;">
        <div class="input-group" style="float:left; width: 90%">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        <div (click)="toggleAdvanceSearch()" style="float: right; cursor: pointer; margin-right: 1%; margin-top: 0.7% " >
            <span class="glyphicon glyphicon-cog"></span>
        </div>
        <br><br>
        <div [hidden]=!showAdvanceSearch>
            <div>
                Advance search options!
            </div> 
        </div>
    </div>
    
    <div id="readList" style="margin-top: 7% " (window:scroll)="onScroll()">
        <div style="margin-bottom: 0.5%;" class="panel panel-primary" *ngFor="#story of stories">
             <div class="panel-heading">
                <span style="font-family: sans-serif; font-size: large">{{story.title}}</span>
                <span style="float: right">{{story.createdDate}}</span>
            </div>
            <div class="panel-body">{{story.storyShortDescription}}</div>
            <div class="panel-footer" >
                <span>{{story.likes}}</span>
                <span>{{story.disLikes}}</span>
            </div>
        </div>
    </div>
</div>